.projet1tel:hover {
  position: relative;
  transform: scale3d(1.1, 1.1, 1.1);
  filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.644));
}

.projet1tel {
  cursor: none;
  z-index: 1000000;
  width: 8%;
  margin-top: -11.5%;
  margin-left: 11.2%;
  transition: all 1s;
}

.projet2tel:hover {
  position: relative;
  transform: scale3d(1.1, 1.1, 1.1);
  filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.644));
}

.projet2tel {
  cursor: none;
  z-index: 1000000;
  width: 8%;
  margin-top: -35.3%;
  margin-left: 56.2%;
  transition: all 1s;
}

/* 390 pixel */

@media only screen and (max-width: 390px) {
  .projet1tel {
    cursor: none;
    z-index: 1000000;
    width: 18%;
    margin-top: -20.5%;
    margin-left: 10.5%;
    animation: scale2 5s ease-in-out infinite;
  }
  .projet2tel {
    cursor: none;
    z-index: 1000000;
    width: 18%;
    margin-top: -166.2%;
    margin-left: 115.4%;
    animation: scale 5s ease-in-out infinite;
  }

  @keyframes scale {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.5);
    }
    100% {
      transform: scale(1);
    }
  }

  @keyframes scale2 {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.5);
    }
    100% {
      transform: scale(1);
    }
  }
}

/* 425 pixel */
@media only screen and (max-width: 425px) {
  .projet1tel {
    cursor: none;
    z-index: 1000000;
    width: 12.5%;
    margin-top: -20.5%;
    margin-left: 10.5%;
    animation: scale2 5s ease-in-out infinite;
  }
  .projet2tel {
    cursor: none;
    z-index: 1000000;
    width: 12.5%;
    margin-top: -145.2%;
    margin-left: 115.4%;
    animation: scale 5s ease-in-out infinite;
  }

  @keyframes scale {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.5);
    }
    100% {
      transform: scale(1);
    }
  }

  @keyframes scale2 {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.5);
    }
    100% {
      transform: scale(1);
    }
  }
}

/* 375 pixel */
@media only screen and (max-width: 375px) {
  .projet1tel {
    cursor: none;
    z-index: 1000000;
    width: 18%;
    margin-top: -20.5%;
    margin-left: 10.5%;
    animation: scale2 5s ease-in-out infinite;
  }
  .projet2tel {
    cursor: none;
    z-index: 1000000;
    width: 18%;
    margin-top: -175.2%;
    margin-left: 115.4%;
    animation: scale 5s ease-in-out infinite;
  }

  @keyframes scale {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.5);
    }
    100% {
      transform: scale(1);
    }
  }

  @keyframes scale2 {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.5);
    }
    100% {
      transform: scale(1);
    }
  }
}
