.projet2pc {
  margin-top: -47.25%;
  margin-left: 55%;
  width: 35%;
}

/* 425 pixel */
@media only screen and (max-width: 425px) {
  .projet2pc {
    margin-top: -169.5%;
    margin-left: 110%;
    width: 84%;
  }
}

/* 390 pixels*/

@media only screen and (max-width: 390px) {
  .projet2pc {
    margin-top: -200.7%;
    margin-left: 110%;
    width: 85%;
  }
}

/* 375 pixel */
@media only screen and (max-width: 375px) {
  .projet2pc {
    margin-top: -205.7%;
    margin-left: 110%;
    width: 85%;
  }
}

/* 320 pixel */
@media only screen and (max-width: 320px) {
  .projet2pc {
    margin-top: -203.7%;
    margin-left: 110%;
    width: 85%;
  }
}
