.projet2pc {
  margin-top: -47.25%;
  margin-left: 55%;
  width: 35%;
}

@media only screen and (max-width: 390px) {
  .projet2pc {
    margin-top: -200.7%;
    margin-left: 110%;
    width: 85%;
  }
}
