.photo1 {
  display: absolute;
  margin-top: 0%;
  width: 35%;
  height: 35%;
  margin-left: 13%;
  cursor: none;
  transition: all 1s;
}

.photo1:hover {
  position: relative;
  transform: scale3d(1.05, 1.05, 1.05);
  filter: drop-shadow(0 0 0.75rem rgba(131, 0, 207, 0.644));
}

.photo1 {
  animation: expand 0.8s ease forwards;
}

.memoji1 {
  display: none;
}

@media only screen and (max-width: 390px) {
  .photo1 {
    display: none;
  }
  .memoji1 {
    display: block;
    width: 200%;
    margin-top: 5%;
    animation: wave 5s ease-in-out infinite;
  }

  @keyframes wave {
    0% {
      transform: rotate(0deg);
    }
    10% {
      transform: rotate(0.5deg);
    }
    20% {
      transform: rotate(1deg);
    }
    30% {
      transform: rotate(1.5deg);
    }

    40% {
      transform: rotate(2deg);
    }

    50% {
      transform: rotate(2.5deg);
    }

    60% {
      transform: rotate(2deg);
    }

    70% {
      transform: rotate(1.5deg);
    }

    80% {
      transform: rotate(1deg);
    }

    90% {
      transform: rotate(0.5deg);
    }

    100% {
      transform: rotate(0deg);
    }
  }
}
