@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@700&display=swap");

.blocentier {
  margin-left: 19.8%;
  font-size: 50%;
}
.textn1 {
  margin: 0;
}
.p {
  text-shadow: 0 0 7px rgba(255, 255, 255, 0.3),
    0 0 3px rgba(255, 255, 255, 0.3);
}
.container {
  font-family: Mulish;
  color: #e5e5e5;
  font-size: 2.26rem;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(0, 0, 0);
  margin-left: -5%;
  margin-top: -20%;
  font-family: Mulish;
  font-weight: 700;
}

.animation {
  height: 63px;
  overflow: hidden;
  margin-left: 2rem;
}

.animation > div > div {
  padding: 0.25rem 0.75rem;
  height: 55px;
  text-align: center;
  margin-bottom: 2.81rem;
  display: inline-block;
}

.animation div:first-child {
  animation: text-animation 10s infinite;
}

.first div {
  border-radius: 15px;
  background-color: #00c3fe;
}

.second div {
  border-radius: 15px;
  background-color: #fcb600;
}

.third div {
  border-radius: 15px;
  background-color: #ff172e;
}

.separateur {
  display: none;
}

@keyframes text-animation {
  0% {
    margin-top: 0;
  }
  10% {
    margin-top: 0;
  }
  20% {
    margin-top: -5.62rem;
  }
  30% {
    margin-top: -5.62rem;
  }
  40% {
    margin-top: -11.24rem;
  }
  60% {
    margin-top: -11.24rem;
  }
  70% {
    margin-top: -5.62rem;
  }
  80% {
    margin-top: -5.62rem;
  }
  90% {
    margin-top: 0;
  }
  100% {
    margin-top: 0;
  }
}

/* 390 pixel */

@media only screen and (max-width: 390px) {
  .separateur {
    margin-top: 110%;
    display: flex;
  }
  .textn1 {
    display: none;
  }
  .first div {
    border-radius: 15px;
    background-color: #00c3fe;
    margin-left: 15%;
    margin-top: -10%;
  }

  .second div {
    border-radius: 15px;
    background-color: #fcb600;
    margin-left: 8%;
    margin-top: -10%;
  }

  .third div {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background-color: #ff172e;
  }

  @keyframes text-animation {
    0% {
      margin-top: 0;
    }
    10% {
      margin-top: 0;
    }
    20% {
      margin-top: -10.8rem;
    }
    30% {
      margin-top: -10.8rem;
    }
    40% {
      margin-top: -21.9rem;
    }
    60% {
      margin-top: -21.9rem;
    }
    70% {
      margin-top: 0rem;
    }
    80% {
      margin-top: 0rem;
    }
    90% {
      margin-top: 0rem;
    }
    100% {
      margin-top: 0rem;
    }
  }
  .container {
    position: absolute;
    font-family: Mulish;
    color: #e5e5e5;
    font-size: 2.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(0, 0, 0);
    margin-left: -130%;
    margin-top: -75%;
    font-family: Mulish;
    font-weight: 700;
    width: 1000px;
    height: 150vw;
  }
  .animation {
    height: 100px;
    overflow: hidden;
    margin-left: 20rem;
  }
  .animation > div > div {
    padding: -10px 10px;
    height: 100px;
    text-align: center;
    margin-bottom: 5rem;
    display: inline-block;
  }
}

/* 375 pixel */

@media only screen and (max-width: 375px) {
  .separateur {
    margin-top: 110%;
    display: flex;
  }
  .textn1 {
    display: none;
  }
  .first div {
    border-radius: 15px;
    background-color: #00c3fe;
    margin-left: 15%;
    margin-top: -10%;
  }

  .second div {
    border-radius: 15px;
    background-color: #fcb600;
    margin-left: 8%;
    margin-top: -10%;
  }

  .third div {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background-color: #ff172e;
  }

  @keyframes text-animation {
    0% {
      margin-top: 0;
    }
    10% {
      margin-top: 0;
    }
    20% {
      margin-top: -10.8rem;
    }
    30% {
      margin-top: -10.8rem;
    }
    40% {
      margin-top: -21.9rem;
    }
    60% {
      margin-top: -21.9rem;
    }
    70% {
      margin-top: 0rem;
    }
    80% {
      margin-top: 0rem;
    }
    90% {
      margin-top: 0rem;
    }
    100% {
      margin-top: 0rem;
    }
  }
  .container {
    position: absolute;
    font-family: Mulish;
    color: #e5e5e5;
    font-size: 2.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(0, 0, 0);
    margin-left: -128%;
    margin-top: -75%;
    font-family: Mulish;
    font-weight: 700;
    width: 1000px;
    height: 150vw;
  }
  .animation {
    height: 100px;
    overflow: hidden;
    margin-left: 20rem;
  }
  .animation > div > div {
    padding: -10px 10px;
    height: 100px;
    text-align: center;
    margin-bottom: 5rem;
    display: inline-block;
  }
}

/* 320 pixel */

@media only screen and (max-width: 320px) {
  .separateur {
    margin-top: 110%;
    display: flex;
  }
  .textn1 {
    display: none;
  }
  .first div {
    border-radius: 15px;
    background-color: #00c3fe;
    margin-left: 15%;
    margin-top: -10%;
  }

  .second div {
    border-radius: 15px;
    background-color: #fcb600;
    margin-left: 8%;
    margin-top: -10%;
  }

  .third div {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background-color: #ff172e;
  }

  @keyframes text-animation {
    0% {
      margin-top: 0;
    }
    10% {
      margin-top: 0;
    }
    20% {
      margin-top: -10.8rem;
    }
    30% {
      margin-top: -10.8rem;
    }
    40% {
      margin-top: -21.9rem;
    }
    60% {
      margin-top: -21.9rem;
    }
    70% {
      margin-top: 0rem;
    }
    80% {
      margin-top: 0rem;
    }
    90% {
      margin-top: 0rem;
    }
    100% {
      margin-top: 0rem;
    }
  }
  .container {
    position: absolute;
    font-family: Mulish;
    color: #e5e5e5;
    font-size: 2.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(0, 0, 0);
    margin-left: -145%;
    margin-top: -75%;
    font-family: Mulish;
    font-weight: 700;
    width: 1000px;
    height: 150vw;
  }
  .animation {
    height: 100px;
    overflow: hidden;
    margin-left: 20rem;
  }
  .animation > div > div {
    padding: -10px 10px;
    height: 100px;
    text-align: center;
    margin-bottom: 5rem;
    display: inline-block;
  }
}
